body{
    background-color: #D6D58E;	
    }
    
    p{
        font-family: Verdana;
        font-size: 13px;
        text-align: justify;
    }
    
    #menu{
        height: 30px;
        width: 960px;
        padding: 10px 0px;
        text-align: center;
        word-spacing: 15px;
        background-color: #9fc131;
    }
    /*FORMATAÇÃO DO LINK*/
    
    .cabecalho{
        height: 200px;
        margin: 5px 0px;
       
    } 
    .cabecalho img{
        margin: 0px;
        width: 960px;
        height: 200px;
        padding: 0px;
    }
    #conteudo{
        width: 960px;
    }
    
    #principal{
        height: auto;
        width: 680px;
        float: left;
        margin: 5px 0px 10px 0px;
        padding: 5px;
    }
    .lateral{
        width: 255px;
        border-radius: 5px;
        margin: 0px 0px 5px 5px; 
        font-size: 10px;
        float: right;
        padding: 3px;
        height: 400px;
        margin: 5px 0px 5px 5px;
        background-color: #005c53;
    }
    .lateral img{
        width: 55%;
        height: auto;
    }
    #rodape{
        width: 960px;
        height: 80px;
        clear: both;
        text-align: center;
        background-color: #9fc131;
    }
    #pagina{
        margin: 15px auto;
        border: 2px solid #C6BA88;
        width: 960px;
    }
    a:link{
    color: rgb(15, 75, 153);
    }
    a:visited{
        color: #042940;
        text-decoration: underline;
    }
    a:hover { /*#sobre o link*/
        text-decoration: none;
        background-color: #042940;
        color: #c7cebe;
        padding: 5px;
        }